#----------------------------------------------------------
# temp / fun
#----------------------------------------------------------
[temperature_sensor host]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100


# Heated Bed  
[heater_bed]
# connected to MCU XYZE - HEATED BED OUTPUT
heater_pin: PA0
# NTC 100K MGB18-104F39050L32 is for Kenovo thermistors
sensor_type: NTC 100K MGB18-104F39050L32
# connected to MCU XYZE - TB Thermistor
sensor_pin: PF3
smooth_time: 3.0

#Build Plate PID Settings
max_power: 1
min_temp: 0
max_temp: 130

[heater_fan hotend_fan]
#! FAN2 Connector (Hotend Fan)
pin: ebb36:PA1
max_power: 1.0
heater: extruder
heater_temp: 50.0
## If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0
shutdown_speed: 1.0

[duplicate_pin_override]
pins: ebb36:PA3

[temperature_sensor _chamber]
min_temp: 0
max_temp: 80
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: ebb36:PA3

[heater_generic chamber]
gcode_id: H
#   The id to use when reporting the temperature in the M105 command.
#   This parameter must be provided.
heater_pin: PD15
max_power: 1
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: ebb36:PA3
#smooth_time:
control:pid
pid_kp:55
pid_ki:2
pid_kd:150
pwm_cycle_time: 0.01
min_temp: 0
max_temp: 80

[verify_heater chamber]
max_error: 2400
check_gain_time: 600
hysteresis: 5
heating_gain: 1

[gcode_macro M141]
gcode:
    {% set chamber_target = params.CHAMBER_TEMP|default(0)|float %}
	SET_HEATER_TEMPERATURE heater=chamber target={chamber_target}

[gcode_macro M191]
gcode:
    {% set s = params.S|float %}
    #M141 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  # Установить температуру экструдера
    {% if s != 0 %}
      TEMPERATURE_WAIT SENSOR=_chamber MINIMUM={s-1} MAXIMUM={s+1}   # Ожидать температуры экструдера (в пределах 1 градуса)
    {% endif %}	

[gcode_macro _CHAMBER_ON]
description: Helper: filter on
gcode: SET_FAN_SPEED FAN=Chamber SPEED=0.5

[gcode_macro  _CHAMBER_OFF]
description: Helper: filter of
gcode: SET_FAN_SPEED FAN=Chamber SPEED=0

[fan_generic filter]
pin: PD14
max_power: 1.0
hardware_pwm: True
cycle_time: 0.00001
kick_start_time: 0.5
off_below: 0.10

[gcode_macro FILTER_ON]
description: Helper: filter on
gcode: SET_FAN_SPEED FAN=filter SPEED=1.0

[gcode_macro FILTER_OFF]
description: Helper: filter of
gcode: SET_FAN_SPEED FAN=filter SPEED=0

[controller_fan mcu_fun]
#! In HE1 Position (Electronics fan)
# You can place both wires into a single ferrule
pin: PD13
shutdown_speed: 1.0
kick_start_time: 1.0
off_below: 0.15
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3

[temperature_fan Electronics]
#! In HE1 Position (Electronics fan)
# You can place both wires into a single ferrule
pin: PA8
max_power: 1.0
cycle_time: 0.00001
hardware_pwm: True
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.15
control: pid
pid_kp = 0.5
pid_ki = 1
pid_kd = 0.5
min_temp: 0
max_temp: 90
#max_delta: 3
target_temp: 50
sensor_type: temperature_host