
#[temperature_sensor chamber]
#sensor_type:  XXX
#sensor_pin:   XXX

#####################################################################
#   A better print_start macro for v2/trident
#####################################################################

[gcode_macro PRINT_START]
gcode:
 CLEAR_PAUSE
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set bedtemp=params.BED |int%}            # Получаем температуру стола из слайсера
  {% set hotendtemp=params.EXTRUDER |int%}    # Получаем температуру хотэнда из слайсера
  {% set chambertemp=params.CHAMBER |default |int %}  # Получаем температуру внутри печатной камеры из слайсера

  STATUS_HEATING
  M190 S {bedtemp}                            # Включаем нагрев стола на температуру из слайсера и ждём нагрева
  G92 E0                                      # Обнуляем значение шагов экструдера

  {% if chambertemp > 0 %}
    M141 S{chambertemp}
  {% endif %}
  
  G0 F30000
  GAN_LEVEL_AND_DEV_LEVEL
  
  G0 X330 Y350 F5000                          # место для сплева пластика
  STATUS_HEATING
  
  M109 S{hotendtemp}

  STATUS_CLEANING
  CLEAN_PRIME
  G0 F30000
  BED_MESH_PROFILE LOAD=default               # Загружаем сохраненную карту стола

  G1 X5 Y3 F5000                              # Идем в коородинаты х = 3 У = 3
  G1 Z0.32 F400                               # Поднимаем сопло на высоту 0,32 мм
  G1 X345 Y3 E38 F3000                        # Выдавливаем линию очистки
  G1 Z0.5 F200                                # Поднимаем сопло на высоту 0,5 мм
  G92 E0                                      # Обнуляем значение шагов экструдера
  STATUS_PRINTING
  M117 Printing!

[gcode_macro PRINT_END]                        # Макрос необходимо запускать после окончания печати. Добавьте его в конечный G-Code слайсера
gcode:
    {% if chambertemp > 0 %}
      M141 S0
    {% endif %}
    M400                                        # Ожидаем окончания текущего движения
    G92 E0                                      # Обнуляем значение шагов экструдера
    G91                                         # Переходим в относительные координаты
    G0 Z1.00 X20.0 Y20.0 F6000                  # Поднимаем сопло на 1 мм по Z и сдвигаем его на 20 мм вправо и 20 мм назад
    TURN_OFF_HEATERS                            # Отключаем все нагреватели
    M107                                        # Выключаем вентиляторы обдува модели
    G1 Z2 F3000                                 # Поднимаем сопло на 2 мм по Z
    G90                                         # Возвращаемся в абсолютные координаты
    G0  X345 Y345 F3600                         # Идем в крайнюю заднюю точку
    BED_MESH_CLEAR                              # Очищаем карту стола
    STATUS_OFF
    G0 F30000

# Макрос постановки на паузу. Расширяет штатный макрос Klipper.
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL
  STATUS_BUSY
  M117 Pause

# Conditional G28 (home if not already homed)
[gcode_macro CG28]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    STATUS_HOMING
    G28
    {% endif %}
    
[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    CG28
    G1 F15000
    STATUS_CALIBRATING_Z
    QUAD_GANTRY_LEVEL
    STATUS_HOMING
    G0 X330 Y350 F5000
    G28 z ; Get the correct Z height after gantry is level
    STATUS_READY
    RESTORE_GCODE_STATE NAME=STATE_G32

[gcode_macro GAN_LEVEL_AND_DEV_LEVEL]
description: BED MESH WITH PREP
gcode:
  G32
  G1 F15000
  STATUS_MESHING
  BED_MESH_CALIBRATE METHOD=scan PROFILE=default SCAN_MODE=rapid

# Макрос снятия с паузы. Расширяет штатный макрос Klipper.
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####

  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}

  STATUS_PRINTING
  M117 Printing!
  RESUME_BASE {get_params}

# Макрос парковки головы при постановке на паузу и сброса печати

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### Укажите парковочною позицию для X и Y #####
  # По умолчанию это max posion из вашего printer.cfg

  {% set x_park = printer.toolhead.axis_maximum.x|float - 25.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float%}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

# Макрос отмены печати. Расширяет штатный макрос Klipper.
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true

  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}

  G0 F30000
  {% if chambertemp > 0 %}
    M141 S0
  {% endif %}
  TURN_OFF_HEATERS
  STATUS_OFF
  CANCEL_PRINT_BASE

# Макрос загрузки пластика
[gcode_macro LOAD_FILAMENT]
variable_load_distance:  100
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=load_state
    #SET_FILAMENT_SENSOR SENSOR=Пластик ENABLE=0 # Выключаем датчик пластика
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} # fast-load
    G1 E{purge_distance} F{speed} # purge
    #SET_FILAMENT_SENSOR SENSOR=Пластик ENABLE=1 # Включаем датчик пластика
    RESTORE_GCODE_STATE NAME=load_state

# Макрос выгрузки пластика
[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  100
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed} # purge
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro M109]
rename_existing: M109.1
gcode:
    {% set s = params.S|float %}
      M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  # Установить температуру экструдера
    {% if s != 0 %}
      TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-1} MAXIMUM={s+1}   # Ожидать температуры экструдера (в пределах 1 градуса)
    {% endif %}	
