[include mainsail.cfg]
[mcu CB2]
serial: /tmp/klipper_host_mcu

[mcu]
##  Obtain definition by "ls /dev/serial/by-id/*" then unplug to verify
##--------------------------------------------------------------------
canbus_uuid: a893f220c2de
#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000             #Max 4000
max_z_velocity: 20         #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#	Enable Pause/Resume Functionality
[pause_resume]

[exclude_object]


[idle_timeout]
timeout: 7200

#  File location of stored varibales
[save_variables]
filename: /home/biqu/printer_data/klipper_config/.variables.stb

[include nozzle_scrub.cfg]
[include input_shaper.cfg]
[include stepper.cfg]
[include fun.cfg]
[include homing.cfg]
[include ebb36.cfg]
[include eddy.cfg]
[include macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.213
#*# pid_ki = 12.005
#*# pid_kd = 13.237
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.057
#*# pid_ki = 2.173
#*# pid_kd = 361.566
